In [1]:
#All the header files required for the code
import numpy as np
import pandas as pd
from factor_analyzer import FactorAnalyzer
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn import metrics
import random

In [2]:
#Import csv files
data1 = pd.read_csv('ratings.csv')
data2 = pd.read_csv('products.csv')

In [3]:
#Delete unnecessary columns

#DATA1 = RATINGS
#DATA2 = PRODUCTS

data1 = data1.drop(['timestamp'], axis=1)   # function which is used in removing or deleting columns from the csv files
print (data1)
#data2 = data2.drop(['Unnamed: ','timestamp'],axis = 1)    # thelei sizitisi

     userId  productId  rating
0         1          7       3
1         2         30       3
2         3         51       5
3         4         28       2
4         5         44       5
..      ...        ...     ...
995     996         27       4
996     997         34       1
997     998         50       2
998     999         58       4
999    1000         11       1

[1000 rows x 3 columns]

In [4]:
data1.head()

   userId  productId  rating
0       1          7       3
1       2         30       3
2       3         51       5
3       4         28       2
4       5         44       5

In [5]:
data2.head()

   productId           products  category
0          1  Iphone 13 Pro Max  flagship
1          2      Iphone 13 Pro  high_end
2          3          Iphone 13  high_end
3          4     Iphone 13 Mini  high_end
4          5  Iphone 12 Pro Max  high_end

In [6]:
#Merging both the dataframes
data = pd.merge(data2 , data1 , how='outer', on='productId') 
data_fn = data

In [7]:
data.head() #RAW DATA - BASIC MATRIX ARRAY

   productId           products  category  userId  rating
0          1  Iphone 13 Pro Max  flagship      57       1
1          1  Iphone 13 Pro Max  flagship     252       5
2          1  Iphone 13 Pro Max  flagship     282       5
3          1  Iphone 13 Pro Max  flagship     300       2
4          1  Iphone 13 Pro Max  flagship     325       3

In [8]:
# Data Processing
# Converting CATEGORIES into different columns 
# Here we just create columns and put there initial value as 0
x = data.category
a = list()
for i in x:
    abc = i
    a.append(abc.split('|'))
a = pd.DataFrame(a)   
b = a[0].unique()
for i in b:
    data[i] = 0
data.head(20)

,productId,products,category,userId,rating,flagship,high_end,mid_range,low_end
0,1,Iphone 13 Pro Max,flagship,57,1,0,0,0,0
1,1,Iphone 13 Pro Max,flagship,252,5,0,0,0,0
2,1,Iphone 13 Pro Max,flagship,282,5,0,0,0,0
3,1,Iphone 13 Pro Max,flagship,300,2,0,0,0,0
4,1,Iphone 13 Pro Max,flagship,325,3,0,0,0,0
5,1,Iphone 13 Pro Max,flagship,409,4,0,0,0,0
6,1,Iphone 13 Pro Max,flagship,414,4,0,0,0,0
7,1,Iphone 13 Pro Max,flagship,455,4,0,0,0,0
8,1,Iphone 13 Pro Max,flagship,461,3,0,0,0,0
9,1,Iphone 13 Pro Max,flagship,574,2,0,0,0,0
10,1,Iphone 13 Pro Max,flagship,712,2,0,0,0,0
11,1,Iphone 13 Pro Max,flagship,844,1,0,0,0,0
12,1,Iphone 13 Pro Max,flagship,876,5,0,0,0,0
13,1,Iphone 13 Pro Max,flagship,883,3,0,0,0,0
14,2,Iphone 13 Pro,high_end,28,5,0,0,0,0
15,2,Iphone 13 Pro,high_end,65,3,0,0,0,0
16,2,Iphone 13 Pro,high_end,67,3,0,0,0,0
17,2,Iphone 13 Pro,high_end,236,3,0,0,0,0
18,2,Iphone 13 Pro,high_end,241,2,0,0,0,0
19,2,Iphone 13 Pro,high_end,244,1,0,0,0,0

In [9]:
# we assign 1 to all the columns which are present in "category"
for i in b:
    data.loc[data['category'].str.contains(i), i] = 1

In [10]:
data.head(500) #Vlepoume tis duo katigories flagship kai low end pou pernoun 1 sto antistoixo pedio

,productId,products,category,userId,rating,flagship,high_end,mid_range,low_end
0,1,Iphone 13 Pro Max,flagship,57,1,1,0,0,0
1,1,Iphone 13 Pro Max,flagship,252,5,1,0,0,0
2,1,Iphone 13 Pro Max,flagship,282,5,1,0,0,0
3,1,Iphone 13 Pro Max,flagship,300,2,1,0,0,0
4,1,Iphone 13 Pro Max,flagship,325,3,1,0,0,0
...,...,...,...,...,...,...,...,...,...
495,30,Huawei 8i,low_end,498,1,0,0,0,1
496,30,Huawei 8i,low_end,599,4,0,0,0,1
497,30,Huawei 8i,low_end,645,5,0,0,0,1
498,30,Huawei 8i,low_end,658,5,0,0,0,1
499,30,Huawei 8i,low_end,687,2,0,0,0,1

In [11]:
# eixame to df flagship kai to pigame sto ptroto if statement
for i in b:
        df_flagship = data.filter(items=['productId','products','rating','flagship'])
        df_flagship = df_flagship.query('flagship != 0')
        df_flagship = df_flagship.reset_index()
        del df_flagship['index']
df_flagship.head(60)

    productId                  products  rating  flagship
0           1         Iphone 13 Pro Max       1         1
1           1         Iphone 13 Pro Max       5         1
2           1         Iphone 13 Pro Max       5         1
3           1         Iphone 13 Pro Max       2         1
4           1         Iphone 13 Pro Max       3         1
5           1         Iphone 13 Pro Max       4         1
6           1         Iphone 13 Pro Max       4         1
7           1         Iphone 13 Pro Max       4         1
8           1         Iphone 13 Pro Max       3         1
9           1         Iphone 13 Pro Max       2         1
10          1         Iphone 13 Pro Max       2         1
11          1         Iphone 13 Pro Max       1         1
12          1         Iphone 13 Pro Max       5         1
13          1         Iphone 13 Pro Max       3         1
14         11  Samsung Galaxy S22 Ultra       5         1
15         11  Samsung Galaxy S22 Ultra       4         1
16         11  Samsung Galaxy S22 Ultra       3         1
17         11  Samsung Galaxy S22 Ultra       2         1
18         11  Samsung Galaxy S22 Ultra       1         1
19         11  Samsung Galaxy S22 Ultra       4         1
20         11  Samsung Galaxy S22 Ultra       1         1
21         11  Samsung Galaxy S22 Ultra       3         1
22         11  Samsung Galaxy S22 Ultra       5         1
23         11  Samsung Galaxy S22 Ultra       1         1
24         11  Samsung Galaxy S22 Ultra       1         1
25         21            Huawei P50 Pro       4         1
26         21            Huawei P50 Pro       5         1
27         21            Huawei P50 Pro       1         1
28         21            Huawei P50 Pro       3         1
29         21            Huawei P50 Pro       2         1
30         21            Huawei P50 Pro       5         1
31         21            Huawei P50 Pro       5         1
32         21            Huawei P50 Pro       4         1
33         21            Huawei P50 Pro       1         1
34         21            Huawei P50 Pro       1         1
35         31             Xiaomi 12 Pro       1         1
36         31             Xiaomi 12 Pro       4         1
37         31             Xiaomi 12 Pro       3         1
38         31             Xiaomi 12 Pro       3         1
39         31             Xiaomi 12 Pro       3         1
40         31             Xiaomi 12 Pro       3         1
41         31             Xiaomi 12 Pro       5         1
42         31             Xiaomi 12 Pro       2         1
43         31             Xiaomi 12 Pro       1         1
44         31             Xiaomi 12 Pro       4         1
45         41        Google Pixel 6 Pro       3         1
46         41        Google Pixel 6 Pro       2         1
47         41        Google Pixel 6 Pro       1         1
48         41        Google Pixel 6 Pro       5         1
49         41        Google Pixel 6 Pro       4         1
50         41        Google Pixel 6 Pro       5         1
51         41        Google Pixel 6 Pro       1         1
52         41        Google Pixel 6 Pro       2         1
53         41        Google Pixel 6 Pro       4         1
54         41        Google Pixel 6 Pro       5         1
55         41        Google Pixel 6 Pro       1         1
56         41        Google Pixel 6 Pro       2         1
57         41        Google Pixel 6 Pro       4         1
58         41        Google Pixel 6 Pro       5         1
59         41        Google Pixel 6 Pro       3         1

In [12]:
# eixame to df high end kai to pigame sto ptroto if statement
for i in b:
        df_high_end=data.filter(items=['productId','products','rating','high_end'])    
        df_high_end = df_high_end.query('high_end != 0')
        df_high_end = df_high_end.reset_index()
        del df_high_end['index']
df_high_end.head(60)

    productId           products  rating  high_end
0           2      Iphone 13 Pro       5         1
1           2      Iphone 13 Pro       3         1
2           2      Iphone 13 Pro       3         1
3           2      Iphone 13 Pro       3         1
4           2      Iphone 13 Pro       2         1
5           2      Iphone 13 Pro       1         1
6           2      Iphone 13 Pro       1         1
7           2      Iphone 13 Pro       3         1
8           2      Iphone 13 Pro       1         1
9           2      Iphone 13 Pro       1         1
10          2      Iphone 13 Pro       2         1
11          2      Iphone 13 Pro       2         1
12          2      Iphone 13 Pro       5         1
13          2      Iphone 13 Pro       3         1
14          2      Iphone 13 Pro       1         1
15          2      Iphone 13 Pro       2         1
16          2      Iphone 13 Pro       2         1
17          2      Iphone 13 Pro       5         1
18          2      Iphone 13 Pro       3         1
19          2      Iphone 13 Pro       3         1
20          3          Iphone 13       5         1
21          3          Iphone 13       5         1
22          3          Iphone 13       4         1
23          3          Iphone 13       4         1
24          3          Iphone 13       2         1
25          3          Iphone 13       2         1
26          3          Iphone 13       2         1
27          3          Iphone 13       3         1
28          3          Iphone 13       4         1
29          4     Iphone 13 Mini       2         1
30          4     Iphone 13 Mini       4         1
31          4     Iphone 13 Mini       2         1
32          4     Iphone 13 Mini       4         1
33          4     Iphone 13 Mini       3         1
34          4     Iphone 13 Mini       3         1
35          4     Iphone 13 Mini       1         1
36          4     Iphone 13 Mini       1         1
37          4     Iphone 13 Mini       4         1
38          4     Iphone 13 Mini       1         1
39          4     Iphone 13 Mini       1         1
40          4     Iphone 13 Mini       1         1
41          4     Iphone 13 Mini       3         1
42          4     Iphone 13 Mini       1         1
43          4     Iphone 13 Mini       2         1
44          4     Iphone 13 Mini       5         1
45          4     Iphone 13 Mini       1         1
46          4     Iphone 13 Mini       3         1
47          4     Iphone 13 Mini       1         1
48          4     Iphone 13 Mini       1         1
49          5  Iphone 12 Pro Max       3         1
50          5  Iphone 12 Pro Max       3         1
51          5  Iphone 12 Pro Max       4         1
52          5  Iphone 12 Pro Max       4         1
53          5  Iphone 12 Pro Max       5         1
54          5  Iphone 12 Pro Max       2         1
55          5  Iphone 12 Pro Max       4         1
56          5  Iphone 12 Pro Max       2         1
57          5  Iphone 12 Pro Max       4         1
58          5  Iphone 12 Pro Max       1         1
59          5  Iphone 12 Pro Max       3         1

In [13]:
# eixame to df mid range kai to pigame sto ptroto if statement
for i in b:
        df_mid_range=data.filter(items=['productId','products','rating','mid_range'])
        df_mid_range = df_mid_range.query('mid_range != 0')
        df_mid_range = df_mid_range.reset_index()
        del df_mid_range['index']
df_mid_range.head(60)

    productId            products  rating  mid_range
0           9   Iphone 11 Pro Max       1          1
1           9   Iphone 11 Pro Max       3          1
2           9   Iphone 11 Pro Max       1          1
3           9   Iphone 11 Pro Max       5          1
4           9   Iphone 11 Pro Max       4          1
5           9   Iphone 11 Pro Max       1          1
6           9   Iphone 11 Pro Max       1          1
7           9   Iphone 11 Pro Max       3          1
8           9   Iphone 11 Pro Max       2          1
9           9   Iphone 11 Pro Max       2          1
10          9   Iphone 11 Pro Max       2          1
11          9   Iphone 11 Pro Max       1          1
12          9   Iphone 11 Pro Max       2          1
13          9   Iphone 11 Pro Max       5          1
14          9   Iphone 11 Pro Max       1          1
15          9   Iphone 11 Pro Max       1          1
16         10       Iphone 11 Pro       4          1
17         10       Iphone 11 Pro       3          1
18         10       Iphone 11 Pro       1          1
19         10       Iphone 11 Pro       1          1
20         10       Iphone 11 Pro       2          1
21         10       Iphone 11 Pro       3          1
22         10       Iphone 11 Pro       5          1
23         10       Iphone 11 Pro       4          1
24         10       Iphone 11 Pro       5          1
25         10       Iphone 11 Pro       2          1
26         10       Iphone 11 Pro       1          1
27         10       Iphone 11 Pro       2          1
28         10       Iphone 11 Pro       4          1
29         10       Iphone 11 Pro       5          1
30         10       Iphone 11 Pro       4          1
31         10       Iphone 11 Pro       5          1
32         10       Iphone 11 Pro       5          1
33         10       Iphone 11 Pro       4          1
34         10       Iphone 11 Pro       5          1
35         10       Iphone 11 Pro       5          1
36         10       Iphone 11 Pro       5          1
37         10       Iphone 11 Pro       3          1
38         16  Samsung Galaxy S21       4          1
39         16  Samsung Galaxy S21       2          1
40         16  Samsung Galaxy S21       4          1
41         16  Samsung Galaxy S21       2          1
42         16  Samsung Galaxy S21       3          1
43         16  Samsung Galaxy S21       2          1
44         16  Samsung Galaxy S21       4          1
45         16  Samsung Galaxy S21       1          1
46         16  Samsung Galaxy S21       2          1
47         16  Samsung Galaxy S21       5          1
48         16  Samsung Galaxy S21       5          1
49         16  Samsung Galaxy S21       2          1
50         16  Samsung Galaxy S21       3          1
51         16  Samsung Galaxy S21       3          1
52         16  Samsung Galaxy S21       3          1
53         16  Samsung Galaxy S21       5          1
54         16  Samsung Galaxy S21       5          1
55         16  Samsung Galaxy S21       1          1
56         16  Samsung Galaxy S21       5          1
57         16  Samsung Galaxy S21       2          1
58         16  Samsung Galaxy S21       4          1
59         16  Samsung Galaxy S21       1          1

In [14]:
# eixame to df low end kai to pigame sto ptroto if statement
for i in b:
        df_low_end=data.filter(items=['productId','products','rating','low_end'])
        df_low_end = df_low_end.query('low_end != 0')
        df_low_end = df_low_end.reset_index()
        del df_low_end['index']
df_low_end.head(60)

    productId              products  rating  low_end
0          26       Huawei P40 lite       2        1
1          26       Huawei P40 lite       1        1
2          26       Huawei P40 lite       5        1
3          26       Huawei P40 lite       1        1
4          26       Huawei P40 lite       2        1
5          26       Huawei P40 lite       5        1
6          26       Huawei P40 lite       1        1
7          26       Huawei P40 lite       1        1
8          26       Huawei P40 lite       5        1
9          26       Huawei P40 lite       3        1
10         26       Huawei P40 lite       5        1
11         26       Huawei P40 lite       3        1
12         26       Huawei P40 lite       3        1
13         26       Huawei P40 lite       5        1
14         26       Huawei P40 lite       5        1
15         26       Huawei P40 lite       4        1
16         26       Huawei P40 lite       5        1
17         26       Huawei P40 lite       5        1
18         29         Huawei Nova 9       5        1
19         29         Huawei Nova 9       2        1
20         29         Huawei Nova 9       5        1
21         29         Huawei Nova 9       3        1
22         29         Huawei Nova 9       2        1
23         29         Huawei Nova 9       1        1
24         29         Huawei Nova 9       2        1
25         29         Huawei Nova 9       5        1
26         29         Huawei Nova 9       3        1
27         29         Huawei Nova 9       3        1
28         29         Huawei Nova 9       5        1
29         29         Huawei Nova 9       4        1
30         29         Huawei Nova 9       4        1
31         29         Huawei Nova 9       3        1
32         29         Huawei Nova 9       4        1
33         29         Huawei Nova 9       1        1
34         29         Huawei Nova 9       3        1
35         30             Huawei 8i       3        1
36         30             Huawei 8i       2        1
37         30             Huawei 8i       2        1
38         30             Huawei 8i       5        1
39         30             Huawei 8i       1        1
40         30             Huawei 8i       1        1
41         30             Huawei 8i       3        1
42         30             Huawei 8i       1        1
43         30             Huawei 8i       4        1
44         30             Huawei 8i       5        1
45         30             Huawei 8i       5        1
46         30             Huawei 8i       2        1
47         30             Huawei 8i       2        1
48         30             Huawei 8i       3        1
49         30             Huawei 8i       2        1
50         30             Huawei 8i       1        1
51         30             Huawei 8i       3        1
52         30             Huawei 8i       1        1
53         30             Huawei 8i       1        1
54         35  Xiaomi Redmi Note 11       5        1
55         35  Xiaomi Redmi Note 11       1        1
56         35  Xiaomi Redmi Note 11       3        1
57         35  Xiaomi Redmi Note 11       1        1
58         35  Xiaomi Redmi Note 11       1        1
59         35  Xiaomi Redmi Note 11       4        1

In [15]:
# Now there is no use of category
# Since we have product id so there is no need for product names as well
data = data.drop(['products','category'],axis =1)   
data.head()

   productId  userId  rating  flagship  high_end  mid_range  low_end
0          1      57       1         1         0          0        0
1          1     252       5         1         0          0        0
2          1     282       5         1         0          0        0
3          1     300       2         1         0          0        0
4          1     325       3         1         0          0        0

In [16]:
data.columns

Index(['productId', 'userId', 'rating', 'flagship', 'high_end', 'mid_range',
       'low_end'],
      dtype='object')

In [17]:
# Because of merging some null values are created
data.isnull().sum()

productId    0
userId       0
rating       0
flagship     0
high_end     0
mid_range    0
low_end      0
dtype: int64

In [18]:
#We simply drop the null values coz the are not treatable
data.dropna(inplace= True )

In [19]:
data.isnull().sum()

productId    0
userId       0
rating       0
flagship     0
high_end     0
mid_range    0
low_end      0
dtype: int64

In [20]:
#By different meathods we found 8 clusters are better 
kmeanModel = KMeans(n_clusters=8)
kmeanModel.fit(data)

KMeans()

In [21]:
#Creating an extra column in data for storing the cluster values
data['Cluster'] = kmeanModel.labels_
data['Cluster'].sample(n=10)

906    4
579    0
897    6
636    1
167    0
471    7
913    7
877    1
176    2
871    0
Name: Cluster, dtype: int32

In [22]:
data['Cluster'].value_counts()

4    129
5    127
2    126
0    126
1    125
6    123
3    123
7    121
Name: Cluster, dtype: int64

In [23]:
data.head()

   productId  userId  rating  flagship  high_end  mid_range  low_end  Cluster
0          1      57       1         1         0          0        0        7
1          1     252       5         1         0          0        0        1
2          1     282       5         1         0          0        0        1
3          1     300       2         1         0          0        0        1
4          1     325       3         1         0          0        0        1

In [24]:
data

,productId,userId,rating,flagship,high_end,mid_range,low_end,Cluster
0,1,57,1,1,0,0,0,7
1,1,252,5,1,0,0,0,1
2,1,282,5,1,0,0,0,1
3,1,300,2,1,0,0,0,1
4,1,325,3,1,0,0,0,1
...,...,...,...,...,...,...,...,...
995,60,756,1,0,1,0,0,6
996,60,808,1,0,1,0,0,6
997,60,843,5,0,1,0,0,6
998,60,859,3,0,1,0,0,6
999,60,863,3,0,1,0,0,6

In [25]:
#When we merge the dataframe for a single "product", multiple rows were created so a single product is allotted
# to many clusters, so here we allot a single cluster to a product. 
#The Cluster which occurs maximum number of times is alloted to the product.
e = []
def fi(group):
    a = pd.DataFrame(group)
    b = pd.DataFrame(a['Cluster'].value_counts())
    d = a.index 
    c = [a['productId'][d[0]],int(b.idxmax())]
    e.append(c)

In [26]:
data.groupby("productId").apply(lambda x: fi(x))

Empty DataFrame
Columns: []
Index: []

In [27]:
e = pd.DataFrame(e)

In [28]:
#We Dont know why always the column name shift according to its will
#Here just the column names are swapped
e.rename(columns = {0:'productId',1:'Cluster'},inplace=True)
e.drop_duplicates(inplace=True)

In [29]:
data1 = pd.read_csv('products.csv')
new_data = pd.merge(e , data1 , how='outer', on='productId')

In [30]:
#These were the products we deleted while merging the file  
new_data.isnull().sum()

productId    0
Cluster      0
products     0
category     0
dtype: int64

In [31]:
#We can delete the  products but I just label them randomly :)
new_data.fillna(random.randint(0,8),inplace=True)

In [32]:
new_data.isnull().sum()

productId    0
Cluster      0
products     0
category     0
dtype: int64

In [33]:
userQ = 0
while True:
    userQ = int(input("Select Category: 1 for Flagship Smartphones, 2 for High-End Smartphones, 3 for Mid-Range Smartphones, 4 for Low-End Smartphones"))
    if userQ >=1 and userQ <= 4:
        print("Edwses tin Kathgoria: " ,+ userQ)
        break
    else:
        print("Edwses lathos timh gia thn epilogh kathgorias, dwse timh metaxu 1 ews 4.")
        continue

Select Category: 1 for Flagship Smartphones, 2 for High-End Smartphones, 3 for Mid-Range Smartphones, 4 for Low-End Smartphones1
Edwses tin Kathgoria:  1

In [34]:
# edw prospathisame na to kanoume fine tunning alla dne mas vgazeit ta products diladi ta strings toy matrix pinaka 

if userQ == 1:
    for i in b:
        df_flagship = data_fn.filter(items=['productId','products','rating','flagship'])
        df_flagship = df_flagship.query('flagship != 0')
        df_flagship = df_flagship.reset_index()
        del df_flagship['index']
        new_data = df_flagship
    #df_flagship.head(10)
    print(df_flagship)
elif  userQ == 2:
    for i in b:
        df_high_end = data_fn.filter(items=['productId','products','rating','high_end'])    
        df_high_end = df_high_end.query('high_end != 0')
        df_high_end = df_high_end.reset_index()
        del df_high_end['index']
        new_data = df_high_end
    #df_high_end.head(10)
    print(df_high_end)
elif  userQ == 3:
    for i in b:
        df_mid_range = data_fn.filter(items=['productId','products','rating','mid_range'])
        df_mid_range = df_mid_range.query('mid_range != 0')
        df_mid_range = df_mid_range.reset_index()
        del df_mid_range['index']
        new_data = df_mid_range
    #df_mid_range.head(10)
    print(df_mid_range)
else:
    for i in b:
        df_low_end = data_fn.filter(items=['productId','products','rating','low_end'])
        df_low_end = df_low_end.query('low_end != 0')
        df_low_end = df_low_end.reset_index()
        del df_low_end['index']
        new_data = df_low_end
    #df_low_end.head(10)
    print(df_low_end)

    productId           products  rating  flagship
0           1  Iphone 13 Pro Max       1         1
1           1  Iphone 13 Pro Max       5         1
2           1  Iphone 13 Pro Max       5         1
3           1  Iphone 13 Pro Max       2         1
4           1  Iphone 13 Pro Max       3         1
..        ...                ...     ...       ...
89         51    Realme GT 2 Pro       5         1
90         51    Realme GT 2 Pro       2         1
91         51    Realme GT 2 Pro       5         1
92         51    Realme GT 2 Pro       5         1
93         51    Realme GT 2 Pro       5         1

[94 rows x 4 columns]

In [35]:
#This function select the cluster for a user according the the user choice
def select_c():
    global l
    #print('Select The Product ID you would like to see:')
    l=[]
    for i in range(15):
        l.append(random.randint(0,59))
    for i in l:
        print(new_data['productId'][i] , new_data['products'][i],sep='--->')
    #print('--------------------------------------------------------------------')
    l = int(input())
    l = new_data['Cluster'][new_data.productId == l]

In [36]:
# This is the main function which recommend you products
def main():
    ans = False
    while not ans:
        select_c()
        print(new_data['products'][new_data.Cluster == int(l)].sample(n=10))  #l #L
        print('--------------------------------------------------------------------')
        print('Do you like these products(y/n)')
        abc = input()
        while ((abc =='y') or (abc == 'Y')):          
            print(new_data['products'][new_data.Cluster == int(l)].sample(n=10)) #l #L
            print('--------------------------------------------------------------------')
            print('Do you want more(y/n)')
            abc = input()
            if ((abc =='N') or (abc == 'n')):
                ans =True

In [37]:
main()

41--->Google Pixel 6 Pro
1--->Iphone 13 Pro Max
41--->Google Pixel 6 Pro
31--->Xiaomi 12 Pro
21--->Huawei P50 Pro
11--->Samsung Galaxy S22 Ultra
21--->Huawei P50 Pro
41--->Google Pixel 6 Pro
41--->Google Pixel 6 Pro
41--->Google Pixel 6 Pro
1--->Iphone 13 Pro Max
21--->Huawei P50 Pro
21--->Huawei P50 Pro
31--->Xiaomi 12 Pro
1--->Iphone 13 Pro Max
31

KeyError: 'Cluster'