In [247]:
#All the header files required for the code
import numpy as np
import pandas as pd
from factor_analyzer import FactorAnalyzer
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn import metrics
import random

In [248]:
#Import csv files
data1 = pd.read_csv('ratings.csv')
data2 = pd.read_csv('products.csv')

In [249]:
#Delete unnecessary columns

#DATA1 = RATINGS
#DATA2 = PRODUCTS

data1 = data1.drop(['timestamp'], axis=1)   # function which is used in removing or deleting columns from the csv files
print (data1)
#data2 = data2.drop(['Unnamed: ','timestamp'],axis = 1)    # thelei sizitisi

     userId  productId  rating
0         1          7       3
1         2         30       3
2         3         51       5
3         4         28       2
4         5         44       5
..      ...        ...     ...
995     996         27       4
996     997         34       1
997     998         50       2
998     999         58       4
999    1000         11       1

[1000 rows x 3 columns]

In [250]:
data1.head()

   userId  productId  rating
0       1          7       3
1       2         30       3
2       3         51       5
3       4         28       2
4       5         44       5

In [251]:
data2.head()

   productId           products  category
0          1  Iphone 13 Pro Max  flagship
1          2      Iphone 13 Pro  high_end
2          3          Iphone 13  high_end
3          4     Iphone 13 Mini  high_end
4          5  Iphone 12 Pro Max  high_end

In [252]:
#Merging both the dataframes
data = pd.merge(data2 , data1 , how='outer', on='productId')

In [253]:
data.head()

   productId           products  category  userId  rating
0          1  Iphone 13 Pro Max  flagship      57       1
1          1  Iphone 13 Pro Max  flagship     252       5
2          1  Iphone 13 Pro Max  flagship     282       5
3          1  Iphone 13 Pro Max  flagship     300       2
4          1  Iphone 13 Pro Max  flagship     325       3

In [254]:
# Data Processing
# Converting CATEGORIES into different columns 
# Here we just create columns and put there initial value as 0
x = data.category
a = list()
for i in x:
    abc = i
    a.append(abc.split('|'))
a = pd.DataFrame(a)   
b = a[0].unique()
for i in b:
    data[i] = 0
data.head(20)

,productId,products,category,userId,rating,flagship,high_end,mid_range,low_end,mid_range
0,1,Iphone 13 Pro Max,flagship,57,1,0,0,0,0,0
1,1,Iphone 13 Pro Max,flagship,252,5,0,0,0,0,0
2,1,Iphone 13 Pro Max,flagship,282,5,0,0,0,0,0
3,1,Iphone 13 Pro Max,flagship,300,2,0,0,0,0,0
4,1,Iphone 13 Pro Max,flagship,325,3,0,0,0,0,0
5,1,Iphone 13 Pro Max,flagship,409,4,0,0,0,0,0
6,1,Iphone 13 Pro Max,flagship,414,4,0,0,0,0,0
7,1,Iphone 13 Pro Max,flagship,455,4,0,0,0,0,0
8,1,Iphone 13 Pro Max,flagship,461,3,0,0,0,0,0
9,1,Iphone 13 Pro Max,flagship,574,2,0,0,0,0,0
10,1,Iphone 13 Pro Max,flagship,712,2,0,0,0,0,0
11,1,Iphone 13 Pro Max,flagship,844,1,0,0,0,0,0
12,1,Iphone 13 Pro Max,flagship,876,5,0,0,0,0,0
13,1,Iphone 13 Pro Max,flagship,883,3,0,0,0,0,0
14,2,Iphone 13 Pro,high_end,28,5,0,0,0,0,0
15,2,Iphone 13 Pro,high_end,65,3,0,0,0,0,0
16,2,Iphone 13 Pro,high_end,67,3,0,0,0,0,0
17,2,Iphone 13 Pro,high_end,236,3,0,0,0,0,0
18,2,Iphone 13 Pro,high_end,241,2,0,0,0,0,0
19,2,Iphone 13 Pro,high_end,244,1,0,0,0,0,0

In [255]:
# we assign 1 to all the columns which are present in "category"
for i in b:
    data.loc[data['category'].str.contains(i), i] = 1

In [256]:
data.head(2)

,productId,products,category,userId,rating,flagship,high_end,mid_range,low_end,mid_range
0,1,Iphone 13 Pro Max,flagship,57,1,1,0,0,0,0
1,1,Iphone 13 Pro Max,flagship,252,5,1,0,0,0,0

In [257]:
# Now there is no use of category
# Since we have product id so there is no need for product names as well
data = data.drop(['products','category'],axis =1)   
data.head()

,productId,userId,rating,flagship,high_end,mid_range,low_end,mid_range
0,1,57,1,1,0,0,0,0
1,1,252,5,1,0,0,0,0
2,1,282,5,1,0,0,0,0
3,1,300,2,1,0,0,0,0
4,1,325,3,1,0,0,0,0

In [258]:
data.columns

Index(['productId', 'userId', 'rating', 'flagship', 'high_end', 'mid_range',
       'low_end', 'mid_range '],
      dtype='object')

In [259]:
# Because of merging some null values are created
data.isnull().sum()

productId     0
userId        0
rating        0
flagship      0
high_end      0
mid_range     0
low_end       0
mid_range     0
dtype: int64

In [260]:
#We simply drop the null values coz the are not treatable
data.dropna(inplace= True )

In [261]:
data.isnull().sum()

productId     0
userId        0
rating        0
flagship      0
high_end      0
mid_range     0
low_end       0
mid_range     0
dtype: int64

In [262]:
#By different meathods we found 8 clusters are better 
kmeanModel = KMeans(n_clusters=8)
kmeanModel.fit(data)

KMeans()

In [263]:
#Creating an extra column in data for storing the cluster values
data['Cluster'] = kmeanModel.labels_
data['Cluster'].sample(n=10)

241    0
398    2
998    6
312    5
282    3
949    1
793    2
911    6
1      1
478    2
Name: Cluster, dtype: int32

In [264]:
data['Cluster'].value_counts()

2    127
1    126
5    126
3    126
6    125
0    124
7    124
4    122
Name: Cluster, dtype: int64

In [265]:
data.head()

,productId,userId,rating,flagship,high_end,mid_range,low_end,mid_range,Cluster
0,1,57,1,1,0,0,0,0,4
1,1,252,5,1,0,0,0,0,1
2,1,282,5,1,0,0,0,0,1
3,1,300,2,1,0,0,0,0,1
4,1,325,3,1,0,0,0,0,1

In [266]:
#When we merge the dataframe for a single "product", multiple rows were created so a single product is allotted
# to many clusters, so here we allot a single cluster to a product. 
#The Cluster which occurs maximum number of times is alloted to the product.
e = []
def fi(group):
    a = pd.DataFrame(group)
    b = pd.DataFrame(a['Cluster'].value_counts())
    d = a.index 
    c = [a['productId'][d[0]],int(b.idxmax())]
    e.append(c)

In [267]:
data.groupby("productId").apply(lambda x: fi(x))

Empty DataFrame
Columns: []
Index: []

In [268]:
e = pd.DataFrame(e)

In [269]:
#We Dont know why always the column name shift according to its will
#Here just the column names are swapped
e.rename(columns = {0:'productId',1:'Cluster'},inplace=True)
e.drop_duplicates(inplace=True)

In [270]:
data1 = pd.read_csv('products.csv')
new_data = pd.merge(e , data1 , how='outer', on='productId')

In [271]:
#These were the products we deleted while merging the file  
new_data.isnull().sum()

productId    0
Cluster      0
products     0
category     0
dtype: int64

In [272]:
#We can delete the  products but I just label them randomly :)
new_data.fillna(random.randint(0,8),inplace=True)

In [273]:
new_data.isnull().sum()

productId    0
Cluster      0
products     0
category     0
dtype: int64

In [286]:
#This function select the cluster for a user according the the user choice
def select_c():
    global l
    print('Select The Product ID you would like to see:')
    l=[]
    for i in range(15):
        l.append(random.randint(0,59))
    for i in l:
        print(new_data['productId'][i] , new_data['products'][i],sep='--->')
    print('--------------------------------------------------------------------')
    l = int(input())
    l = new_data['Cluster'][new_data.productId == l]

In [287]:
# This is the main function which recommend you products
def main():
    ans = False
    while not ans:
        select_c()
        print(new_data['products'][new_data.Cluster == int(l)].sample(n=10))  #l #L
        print('--------------------------------------------------------------------')
        print('Do you like these products(y/n)')
        abc = input()
        while ((abc =='y') or (abc == 'Y')):          
            print(new_data['products'][new_data.Cluster == int(l)].sample(n=10)) #l #L
            print('--------------------------------------------------------------------')
            print('Do you want more(y/n)')
            abc = input()
            if ((abc =='N') or (abc == 'n')):
                ans =True

In [288]:
main()

Select The Product ID you would like to see:
2--->Iphone 13 Pro
52--->Realme GT Neo 2
19--->Samsung Galaxy S20 Fe
59--->Realme Gt Neo 3
33--->Xiaomi 12X
54--->Relame GT
7--->Iphone 12
22--->Huawei P50
52--->Realme GT Neo 2
18--->Samsung Galaxy S20 Plus
3--->Iphone 13
59--->Realme Gt Neo 3
6--->Iphone 12 Pro
55--->Realme 9 Pro Plus
6--->Iphone 12 Pro
--------------------------------------------------------------------

 1

31                  Xiaomi 12
51            Realme GT Neo 2
37    Xiaomi Redmi Note 9 Pro
26             Huawei P30 Pro
17    Samsung Galaxy S20 Plus
0           Iphone 13 Pro Max
27                 Huawei P30
52                Realme GT 2
21                 Huawei P50
23             Huawei P40 Pro
Name: products, dtype: object
--------------------------------------------------------------------
Do you like these products(y/n)

 2

Select The Product ID you would like to see:
31--->Xiaomi 12 Pro
39--->Xiaomi Poco F3
17--->Samsung Galaxy S20 Ultra
48--->One Plus 8 Pro
29--->Huawei Nova 9
56--->Realme 9 Pro
19--->Samsung Galaxy S20 Fe
59--->Realme Gt Neo 3
21--->Huawei P50 Pro
8--->Iphone 12 Mini
14--->Samsung Galaxy S21 Ultra
12--->Samsung Galaxy S22 Plus
28--->Huawei P30
41--->Google Pixel 6 Pro
24--->Huawei P40 Pro
--------------------------------------------------------------------

 3

46              One Plus 9 Pro
38              Xiaomi Poco F3
2                    Iphone 13
18       Samsung Galaxy S20 Fe
49                 One Plus 8T
3               Iphone 13 Mini
22           Huawei P50 Pocket
39          Xiaomi Poco M4 Pro
13    Samsung Galaxy S21 Ultra
41             Google Pixel 6a
Name: products, dtype: object
--------------------------------------------------------------------
Do you like these products(y/n)

 y

3               Iphone 13 Mini
38              Xiaomi Poco F3
2                    Iphone 13
13    Samsung Galaxy S21 Ultra
18       Samsung Galaxy S20 Fe
39          Xiaomi Poco M4 Pro
49                 One Plus 8T
22           Huawei P50 Pocket
46              One Plus 9 Pro
41             Google Pixel 6a
Name: products, dtype: object
--------------------------------------------------------------------
Do you want more(y/n)

 y

49                 One Plus 8T
2                    Iphone 13
38              Xiaomi Poco F3
41             Google Pixel 6a
13    Samsung Galaxy S21 Ultra
3               Iphone 13 Mini
46              One Plus 9 Pro
39          Xiaomi Poco M4 Pro
22           Huawei P50 Pocket
18       Samsung Galaxy S20 Fe
Name: products, dtype: object
--------------------------------------------------------------------
Do you want more(y/n)

 y

38              Xiaomi Poco F3
39          Xiaomi Poco M4 Pro
2                    Iphone 13
46              One Plus 9 Pro
41             Google Pixel 6a
22           Huawei P50 Pocket
49                 One Plus 8T
13    Samsung Galaxy S21 Ultra
3               Iphone 13 Mini
18       Samsung Galaxy S20 Fe
Name: products, dtype: object
--------------------------------------------------------------------
Do you want more(y/n)

 n